<%= javascript_include_tag "jquery-3.4.1.min" %>
<%= yield_content :js_file %>
 <%= javascript_include_tag "parsley.js" %>
 <%= javascript_include_tag "smtp.js" %>
<script><%= partial "javascripts/script.js" %></script>
<%= javascript_include_tag "modernizr.js" %>
<%# start lazy load %>
<%= javascript_include_tag "lozad.min.js" %>
<script type="text/javascript">
    <%= partial "javascripts/lazy-load-settings.js" %>
</script>
<%# end lazy load %>
<%= yield_content :js %>

<%#  %>
 
 
<script type="text/javascript">
$(function () {
    // bind parsley to the form
    $("#support-Form").parsley();
    // parsley settings 
    parsleyForm = $('#support-Form').parsley({
        errorClass: 'ba b--light-red',
        successClass: 'ba b--black-60',
        errorsWrapper: '<div class="red"></div>',
        errorTemplate: '<span></span>',
    });  

    // on form submit
    $("#support-Form").on('submit', function(event) {
        // validate form with parsley.
        event.preventDefault();
        $(this).parsley().validate();

        // if this form is valid
        if ($(this).parsley().isValid()) {
            // show alert message
            $('.form-thank-you').css({'height': $('#support-Form').innerHeight()});
            $('.form-thank-you').addClass("absolute top-0 w-100 bg-white-70 flex items-center justify-center fw9 f1");
            $('.form-thank-you span').text( 'Thank You');
            $('.form-thank-you span').css('transform','scaleY(1)');
            
            // sSending Emails 
            const message = {
                name: document.querySelector("#name").value,
                email: document.querySelector("#email").value,
                phone: document.querySelector("#phone").value,
                address: document.querySelector("#address").value,
                detailed: document.querySelector("#detailed").value,
            };
            Email.send({
                SecureToken : "dae945fd-9c9e-4db0-90b3-75487f29125e", 
                To : 'wesavehomes@theseohero.com',
                From : "riterdesign@gmail.com",
                Subject : "Email From: " + message.name,
                Body :  "<b>Name: </b>" + message.name + "<br><br>" + 
                        "<b>Email: </b>" + message.email + "<br><br>" + 
                        "<b>Phone: </b>" + message.phone + "<br><br>" + 
                        "<b>Address: </b>" + message.address  + "<br><br>" + 
                        "<b>Message: </b>" + message.detailed  
            }).then(
                
            );
        }
    });
});    
</script>

<%#  %>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "LocalBusiness",
    "legalName": "We Save Homes",
    "name": "We Save Homes",
    "url": "https://wesavehomeslv.com/",
    "image": "https://wesavehomeslv.com/images/logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1 702-400-9266",
      "contactType": "customer support"
    },
    "logo": "https://wesavehomeslv.com/images/logo.png",
    "sameAs": [
      "https://www.facebook.com/WeSaveHomesLV/"
    ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "EXP Realty 8367 W Flamingo Rd Ste 101",
      "addressLocality": "Las Vegas",
      "addressRegion": "Nevada",
      "postalCode": "89147",
      "addressCountry": "USA"
    }
  }
</script>

<script type="application/ld+json">{
      "@context":"http://schema.org",
      "@type":"ItemList",
      "itemListElement":[
        {
          "@type": "SiteNavigationElement",
          "position": 1,
          "name": "Free Bankruptcy",
          "description": "We all need help from time to time, let us be there for you.",
          "url":"https://wesavehomeslv.com/free-bankruptcy/"
        },
        {
          "@type": "SiteNavigationElement",
          "position": 2,
          "name": "Consultation",
          "description": "30 min FREE Consultation with Jesse Keenan",
          "url":"https://wesavehomeslv.com/consultation/"
        },
        {
          "@type": "SiteNavigationElement",
          "position": 3,
          "name": "Services",
          "description": "Filing Bankruptcy, buying a home, selling a home and so much more. ",
          "url":"https://wesavehomeslv.com/services/"
        },
        {
          "@type": "SiteNavigationElement",
          "position": 4,
          "name": "About",
          "description": "About We Save Homes & Jesse Keenan",
          "url":"https://wesavehomeslv.com/about/"
        }
      ]
    }</script>