---
title: 	About We Save Homes - Free Bankruptcy & Jesse Keenan
lastmod: 2019-07-14
priority: 0.8
type: AboutPage
site_description: "About We Save Homes - Free Bankruptcy & Jesse Keenan"
---
<%#  %>
<%= partial("partials/parts/small-hero", :locals => {   
    :backgroundImage => "/images/site/home-in-las-vegas.jpg", 
    :header => "About We Save Homes & Jesse Keenan", 
    :subHeader => "Our mission is to help the people in Las Vegas, North Las Vegas, and Henderson have a fresh start and have a home."
}) %>
<%#  %>
<%# <%= partial "partials/parts/as-seen-on" %>
<%#  %>
<section class="wrap">
    <div class="flex justify-center flex-wrap items-center pv4">
        <%#  %>
        <div class="w-100 w-50-ns pr4-ns pr0">
            <img class="" src="/images/site/Jesse-Keenan-Working-On-Saving-A-Home.jpg" alt="We Save Homes" title="About We Save Homes"/>
        </div>
        <%#  %>
        <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2">
            <h3 class="f2 mb0">
                About Us & We Save Homes
            </h3>
            <p class="lh-copy f4">
                I am Jesse Keenan, the owner of "We Save Homes" if there is a complex situation that is not ordinary, contact me directly. I can not publish all of our solutions on this site., our service allows you to find the best partner in the most convenient way.
            </p>
            <%= current_link_to "Schedule a Free Consultation", data.links.page_consultation, class: " pv3 ph4 f3", title: "Free Consultation", aria_current: "current" %>
        </div>
    </div>
</section>
<%#  %>
<%#  %>
<%#  %>

<section class="wrap">
    <div class="flex flex-wrap justify-center pb4">
        <div class="w-100">
            <h3 class="f1 tc mv3">
                We have five different ways to stop Foreclosure.
            </h3>
        </div>
    </div>
</section>
<section class="wrap wrap-md">
    <div class="flex flex-wrap justify-center pb4">
        <div class="w-100">
            <p class="f3">
                <span class="blue fw9">1.</span> Pay all the missed back payments and fees in full is the best way.... (we offer small loans that is not credit driven)
            </p>
            <p class="f3">
                <span class="blue fw9">2.</span> Refinance the property ... (We are not credit driven)
            </p>
            <p class="f3">
                <span class="blue fw9">3.</span> Sell the property (We have several different options if you choose this way) we pay cash now and when you move out however long that may be that we agree upon.
            </p>
            <p class="f3">
                <span class="blue fw9">4.</span> We do short sale homes and let the homeowner stay in the home if desired or we can pay the homeowner to help them in the move.
            </p>      
            <p class="f3">
                <span class="blue fw9">5.</span> <u class="fw9">Bankruptcy</u> is NOT a solution, however, we do from time to time have to use it in emergencies .... Please do not wait till the last day to contact me... if you do, it gets pricy .... I can and do pay for my clients Bankruptcy in order to save the property temporarily ..... contact me to find out the details.... Ask about the difference in a chapter 7, 11, and 13
            </p>        
            <h3 class="f1 tc mv3">
                 Come in and lets discuss this to see what we can work out. 
            </h3>
        </div>
    </div>
</section>

<div class="mb4">
    <%= partial "partials/home/steps" %>
</div>
<%#  %>
<%#  %>
<%#  %>
<%= partial "partials/banner/banner01" %>
 
 